<div class="row">
  <div class="span9">
    <div class="hero-unit">
      <h2>muggle.in</h2>
      <p>because we can't all be wizards</p>
    </div>
  </div>
  <div class="span3">
    <div class="">
      <h3>topics</h3>
      <ul>
        <li>coding</li>
        <li>brewing</li>
        <li>coffee</li>
      </ul>
    </div>
  </div>
</div>
